.menu {
    background: #364a63;
    width: 360px;
    position: absolute;
    right: 60px;
    padding: 1.2em;
    z-index: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.total{
    display: flex;
    margin: 0px;
    align-items: center;
}

.total h2{
    color: #BEEB14;
    padding-left: 210px;
    margin: 0px;
}

.total h3{
    margin: 0px;
}

.priceline {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 16px;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    background: #549300;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    transition: 0.4s;
}

.btn:hover {
    background-color: #5b9e05;
    scale: 1.025;
    box-shadow: 1px 1px 4px rgb(0, 0, 0.9);

}

@media screen and (max-width: 430px) {
    .menu {
        width: 290px;
    }
}